<script defer="" src="/assets/checkout.js"></script>
<form id="payment-form">
  <div id="payment-element">
  </div>
  <button id="submit">
    <div class="spinner hidden" id="spinner">
    </div>
    <span id="button-text">
      Pay now
    </span></button>
  <div class="hidden" id="payment-message">
  </div>
</form>
